.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-string {
  margin-bottom: 10vh;
}

.register-sheet {
  margin: 0 auto;
  height: calc(120px + 10vmin);
  width: 70%;
  border: solid 1px #282c34;

}

.register-sheet div {
  display: flex;
  margin: 3%;
  height: 20%;
  border: solid 1px #282c34;
}

.register-sheet label {
  width: 25%;
  height: 60%;
  margin: auto;
  text-align: left;
  font-weight: bold;
  border: solid 1px #282c34;
}

.register-form {
  width: 70%;
  height: 60%;
  margin: auto;
}

.post-button {
  width: 40%;
  height: 25%;
}