.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f7f7f7;
}

.container {
  display: grid;
  row-gap: 30px;
  width: 84%;
  max-width: 640px;
  margin: 60px auto;
}

.container h1 {
  justify-self: center;
}

.container p {
  justify-self: center;
}

form {
  display: grid;
  row-gap: 30px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #ddd;
  padding: 10px;
  font-size: 16px;
  outline: none;
  appearance: none;
  border-radius: 0;
}

button {
  justify-self: center;
  border: none;
  background-color: #0d6efd;
  color: #fff;
  padding: 10px;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-string {
  margin-bottom: 10vh;
}

.register-sheet {
  margin: 0 auto;
  height: calc(120px + 10vmin);
  width: 70%;
  border: solid 1px #282c34;

}

.register-sheet div {
  display: flex;
  margin: 3%;
  height: 20%;
  border: solid 1px #282c34;
}

.register-sheet label {
  width: 25%;
  height: 60%;
  margin: auto;
  text-align: left;
  font-weight: bold;
  border: solid 1px #282c34;
}

.register-form {
  width: 70%;
  height: 60%;
  margin: auto;
}

.post-button {
  width: 40%;
  height: 25%;
}